{
  "openapi": "3.0.0",
  "info": {
    "title": "CorpAPI",
    "description": "API para autenticação de usuários e gerenciamento de sessões.",
    "version": "1.0.0"
  },
  "tags": [
    {
      "name": "Autenticação",
      "description": "Endpoints para gerenciar autenticação de usuários"
    },
    {
      "name": "Documentos/Produção",
      "description": "Endpoints para gerenciar documentos e processos de produção"
    },
    {
      "name": "Cliente",
      "description": "Endpoints para gerenciar informações dos clientes"
    },
    {
      "name": "Endereço",
      "description": "Endpoints para gerenciar endereços de clientes ou associados"
    },
    {
      "name": "Email",
      "description": "Endpoints para gerenciar emails dos clientes ou usuários"
    },
    {
      "name": "Telefone",
      "description": "Endpoints para gerenciar telefones de clientes ou associados"
    },
    {
      "name": "Negociações",
      "description": "Endpoints para gerenciar e consultar negociações em andamento ou finalizadas"
    },
    {
      "name": "Produtores",
      "description": "Endpoints para gerenciar informações sobre os produtores"
    },
    {
      "name": "Ramos",
      "description": "Endpoints para gerenciar ramos de seguro ou outros produtos"
    },
    {
      "name": "Sinistro",
      "description": "Endpoints para gerenciar sinistros e suas informações"
    },
    {
      "name": "BI",
      "description": "Endpoints para gerenciar informações de BI (Business Intelligence)"
    }
  ],
  "servers": [
    {
      "url": "https://api.corpnuvem.com"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "Autenticação"
        ],
        "summary": "Login de usuário",
        "description": "Autentica um usuário e retorna um token de acesso.",
        "requestBody": {
          "description": "Dados de login do usuário.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "O e-mail do usuário.",
                    "example": "usuario@exemplo.com"
                  },
                  "senha": {
                    "type": "string",
                    "description": "A senha do usuário.",
                    "example": "senha123"
                  }
                },
                "required": [
                  "email",
                  "senha"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login bem-sucedido. Retorna os dados do usuário e um token de acesso.",
            "headers": {
              "Authorization": {
                "description": "Token de acesso JWT.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "integer",
                      "example": 11
                    },
                    "nome": {
                      "type": "string",
                      "example": "Sua corretora"
                    },
                    "login": {
                      "type": "string",
                      "example": "Sua corretora"
                    },
                    "email": {
                      "type": "string",
                      "example": "contato@suacorretora.com.br"
                    },
                    "email_multi": {
                      "type": "string",
                      "nullable": true
                    },
                    "codfil": {
                      "type": "integer",
                      "example": 1
                    },
                    "p500": {
                      "type": "string",
                      "example": "T"
                    },
                    "p501": {
                      "type": "string",
                      "example": "T"
                    },
                    "p502": {
                      "type": "string",
                      "example": "T"
                    },
                    "p600": {
                      "type": "string",
                      "example": "T"
                    },
                    "p601": {
                      "type": "string",
                      "example": "T"
                    },
                    "p602": {
                      "type": "string",
                      "example": "T"
                    },
                    "p226": {
                      "type": "string",
                      "example": "T"
                    },
                    "p212": {
                      "type": "string",
                      "example": "T"
                    },
                    "p25": {
                      "type": "string",
                      "example": "T"
                    },
                    "p51": {
                      "type": "string",
                      "example": "T"
                    },
                    "p91": {
                      "type": "string",
                      "example": "T"
                    },
                    "p282": {
                      "type": "string",
                      "example": "T"
                    },
                    "p357": {
                      "type": "string",
                      "example": "T"
                    },
                    "p227": {
                      "type": "string",
                      "example": "T"
                    },
                    "p56": {
                      "type": "string",
                      "example": "T"
                    },
                    "p9": {
                      "type": "string",
                      "example": "T"
                    },
                    "p213": {
                      "type": "string",
                      "example": "T"
                    },
                    "token": {
                      "type": "string",
                      "example": "...GhLNG9reFE5RFlMQlNkSXJUUnRa..."
                    },
                    "corp_mais_dashboard": {
                      "type": "integer",
                      "example": 1
                    },
                    "chat_bot": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha na autenticação.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensagem": {
                      "type": "string",
                      "example": "Credenciais inválidas"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error."
                    }
                  }
                }
              }
            }
          },
          "401_CorpMais": {
            "description": "Usuário sem permissão de acesso ao Corp+.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Usuário sem permissão de acesso ao Corp+."
                    }
                  }
                }
              }
            }
          },
          "401_EmailInvalido": {
            "description": "Email inválido.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email inválido."
                    }
                  }
                }
              }
            }
          },
          "401_SenhaInvalida": {
            "description": "Senha inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Senha inválida."
                    }
                  }
                }
              }
            }
          },
          "403_UsuarioConectado": {
            "description": "Usuário já conectado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Usuário já conectado."
                    }
                  }
                }
              }
            }
          },
          "403_ConexoesExcedidas": {
            "description": "Conexões excedidas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Conexões excedidas."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/logout": {
      "post": {
        "tags": [
          "Autenticação"
        ],
        "summary": "Logout de usuário",
        "description": "Desloga o usuário e invalida o token de acesso.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Conexão encerrada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Conexão encerrada com sucesso."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sessão inativa.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sessão inativa."
                    },
                    "user_logged": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/documento": {
      "get": {
        "tags": [
          "Documentos/Produção"
        ],
        "summary": "Obter documento específico",
        "description": "Obtém um documento com base no código da filial e no número do documento.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "description": "Código da filial.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "nosnum",
            "in": "query",
            "description": "Número do documento.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 12345
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documento encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "header": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "example": 1
                        }
                      }
                    },
                    "documento": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codfil": {
                            "type": "integer",
                            "example": 1
                          },
                          "nosnum": {
                            "type": "integer",
                            "example": 123
                          },
                          "tipdoc": {
                            "type": "string",
                            "example": "A"
                          },
                          "numren": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "numapo": {
                            "type": "string",
                            "example": "0"
                          },
                          "numend": {
                            "type": "string",
                            "example": "0"
                          },
                          "codcia": {
                            "type": "integer",
                            "example": 12
                          },
                          "codram": {
                            "type": "integer",
                            "example": 1
                          },
                          "codcli": {
                            "type": "integer",
                            "example": 60
                          },
                          "datpro": {
                            "type": "string",
                            "format": "date",
                            "example": "24/02/2025"
                          },
                          "datemi": {
                            "type": "string",
                            "nullable": true,
                            "format": "date",
                            "example": null
                          },
                          "inivig": {
                            "type": "string",
                            "format": "date",
                            "example": "01/01/2025"
                          },
                          "fimvig": {
                            "type": "string",
                            "format": "date",
                            "example": "01/01/2026"
                          },
                          "forma_pag": {
                            "type": "string",
                            "example": "Boleto Bancário"
                          },
                          "numpar": {
                            "type": "integer",
                            "example": 12
                          },
                          "preliq": {
                            "type": "number",
                            "format": "float",
                            "example": 1500
                          },
                          "preadi": {
                            "type": "number",
                            "format": "float",
                            "example": 0
                          },
                          "predes": {
                            "type": "number",
                            "format": "float",
                            "example": 0
                          },
                          "precus": {
                            "type": "number",
                            "format": "float",
                            "example": 0
                          },
                          "preiof": {
                            "type": "number",
                            "format": "float",
                            "example": 110.7
                          },
                          "pretot": {
                            "type": "number",
                            "format": "float",
                            "example": 1610.7
                          },
                          "prepri": {
                            "type": "number",
                            "format": "float",
                            "example": 134.23
                          },
                          "vencim": {
                            "type": "integer",
                            "example": 7
                          },
                          "cuspri": {
                            "type": "string",
                            "example": "F"
                          },
                          "diafix": {
                            "type": "integer",
                            "example": 15
                          },
                          "usuinc": {
                            "type": "string",
                            "example": "INFOCAP"
                          },
                          "usualt": {
                            "type": "string",
                            "example": "INFOCAP"
                          },
                          "datinc": {
                            "type": "string",
                            "format": "date-time",
                            "example": "24/02/2025 19:45:31"
                          },
                          "modificado": {
                            "type": "string",
                            "format": "date-time",
                            "example": "24/02/2025 19:46:03"
                          },
                          "sinistro": {
                            "type": "string",
                            "example": "F"
                          },
                          "codfil_ren": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "nosnum_ren": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "codfil_end": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "nosnum_end": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "numprop": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "motivo_endosso": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "campo_base_c": {
                            "type": "integer",
                            "example": 3
                          },
                          "base_c": {
                            "type": "number",
                            "format": "float",
                            "example": 1610.7
                          },
                          "per_c": {
                            "type": "number",
                            "format": "float",
                            "example": 25
                          },
                          "val_c": {
                            "type": "number",
                            "format": "float",
                            "example": 402.68
                          },
                          "forma_recebimento_c": {
                            "type": "integer",
                            "example": 1
                          },
                          "val_ca": {
                            "type": "number",
                            "format": "float",
                            "example": 0
                          },
                          "campo_base_cp": {
                            "type": "integer",
                            "example": 0
                          },
                          "base_cp": {
                            "type": "number",
                            "format": "float",
                            "example": 0
                          },
                          "per_cp": {
                            "type": "number",
                            "format": "float",
                            "example": 0
                          },
                          "val_cp": {
                            "type": "number",
                            "format": "float",
                            "example": 0
                          },
                          "forma_recebimento_cp": {
                            "type": "integer",
                            "example": 1
                          },
                          "recusado": {
                            "type": "string",
                            "example": "F"
                          },
                          "codcanal": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "observacoes_txt": {
                            "type": "string",
                            "example": ""
                          },
                          "tabela_itens": {
                            "type": "string",
                            "example": "AUTOMOVEL"
                          },
                          "ramo_abrev": {
                            "type": "string",
                            "example": "AUTO"
                          },
                          "ramo": {
                            "type": "string",
                            "example": "AUTOMOVEL"
                          },
                          "telram": {
                            "type": "integer",
                            "example": 1
                          },
                          "seguradora_abrev": {
                            "type": "string",
                            "example": "PORT"
                          },
                          "seguradora": {
                            "type": "string",
                            "example": "PORTO SEGURO"
                          },
                          "filial": {
                            "type": "string",
                            "example": "BASE DE DEMONSTRAÇÃO"
                          },
                          "sit_acompanhamento": {
                            "type": "integer",
                            "example": 2
                          },
                          "sit_acompanhamento_txt": {
                            "type": "string",
                            "example": "Pendente de emissão - em atraso"
                          },
                          "sit_sinistro": {
                            "type": "integer",
                            "example": 0
                          },
                          "sit_sinistro_txt": {
                            "type": "string",
                            "example": "APÓLICE SEM SINISTRO"
                          },
                          "cancelado": {
                            "type": "string",
                            "example": "F"
                          },
                          "sit_renovacao": {
                            "type": "integer",
                            "example": 3
                          },
                          "sit_renovacao_txt": {
                            "type": "string",
                            "example": "APÓLICE NOVA\r APÓLICE NÃO RENOVADA\r VIGÊNCIA: 01/01/2025 A 31/01/2025\r "
                          },
                          "renovado_codfil": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "renovado_nosnum": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "tipdoc_txt": {
                            "type": "string",
                            "example": "A - Apólice"
                          },
                          "motivo_endosso_txt": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "ad_receb_data": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "ad_entr_data": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "cliente": {
                            "type": "string",
                            "example": "TESTE API"
                          },
                          "ad_receb_doc_fisico": {
                            "type": "string",
                            "example": "F"
                          },
                          "ad_receb_doc_digital": {
                            "type": "string",
                            "example": "F"
                          },
                          "ad_entr_forma": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "bot_a_dthora": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "cod_forma_pag": {
                            "type": "integer",
                            "example": 2
                          },
                          "codopo": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "dtfim_negociacao": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "codmulti": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "importado_pelo_incorp": {
                            "type": "string",
                            "example": "F"
                          },
                          "canal_vendas_descricao": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "parcelas": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Documento não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Documento não encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/documentos": {
      "get": {
        "summary": "Consulta Documentos",
        "tags": [
          "Documentos/Produção"
        ],
        "description": "Endpoint para consultar documentos com base em filtros específicos.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "description": "Código da filial",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "periodo",
            "in": "query",
            "description": "Data a ser utilizada - Ex: datinc(data de inclusão) datalt(data de alteração)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "datinc"
            }
          },
          {
            "name": "datini",
            "in": "query",
            "description": "Data inicial do período (formato: dd/MM/yyyy)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "01/01/2023"
            }
          },
          {
            "name": "datfim",
            "in": "query",
            "description": "Data final do período (formato: dd/MM/yyyy)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "30/01/2023"
            }
          },
          {
            "name": "ordem",
            "in": "query",
            "description": "Tipo de ordenação. Ex: nosnum (identificador do documento)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "nosnum"
            }
          },
          {
            "name": "qtd_pag",
            "in": "query",
            "description": "Quantidade de itens por página.",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 20
            }
          },
          {
            "name": "pag",
            "in": "query",
            "description": "Número da página que será retornada.",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de documentos encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "header": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "example": 100
                        }
                      }
                    },
                    "documentos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codfil": {
                            "type": "integer",
                            "example": 1
                          },
                          "nosnum": {
                            "type": "integer",
                            "example": 191
                          },
                          "tipdoc": {
                            "type": "string",
                            "example": "A"
                          },
                          "seguradora": {
                            "type": "string",
                            "example": "PORT"
                          },
                          "ramo": {
                            "type": "string",
                            "example": "AUTO"
                          },
                          "cliente": {
                            "type": "string",
                            "example": "TESTE API"
                          },
                          "inivig": {
                            "type": "string",
                            "example": "01/01/2025"
                          },
                          "fimvig": {
                            "type": "string",
                            "example": "31/01/2025"
                          },
                          "numapo": {
                            "type": "string",
                            "example": "0"
                          },
                          "numend": {
                            "type": "string",
                            "example": "0"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parâmetros inválidos"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/producao": {
      "get": {
        "summary": "Consulta Produção",
        "tags": [
          "Documentos/Produção"
        ],
        "description": "Endpoint para buscar registros de produção com filtros específicos.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "texto",
            "in": "query",
            "description": "Esse campo é uma busca por texto genérica, busca por nome, e-mail, nos contatos",
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "dt_ini",
            "in": "query",
            "description": "Data inicial por início de vigência (formato: dd/MM/yyyy)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "22/02/2022"
            }
          },
          {
            "name": "dt_fim",
            "in": "query",
            "description": "Data final por início de vigência (formato: dd/MM/yyyy)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "22/02/2022"
            }
          },
          {
            "name": "ordem",
            "in": "query",
            "description": "Tipo de ordenação (campo usado para ordenar os resultados)",
            "schema": {
              "type": "string",
              "example": "inivig"
            }
          },
          {
            "name": "orientacao",
            "in": "query",
            "description": "Orientação dos registros filtrados (ascendente ou descendente)",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "asc"
            }
          },
          {
            "name": "so_renovados",
            "in": "query",
            "description": "Filtrar apenas renovados. Valores: T - true | F - false | X - todos",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F",
                "X"
              ],
              "example": "T"
            }
          },
          {
            "name": "so_emitidos",
            "in": "query",
            "description": "Filtrar apenas emitidos. Valores: T - true | F - false | X - todos",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F",
                "X"
              ],
              "example": "X"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de produções encontradas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "header": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "example": 1
                        }
                      }
                    },
                    "producao": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codfil": {
                            "type": "integer",
                            "example": 1
                          },
                          "nosnum": {
                            "type": "integer",
                            "example": 123
                          },
                          "tipdoc": {
                            "type": "string",
                            "example": "A"
                          },
                          "seguradora": {
                            "type": "string",
                            "example": "PORT"
                          },
                          "ramo": {
                            "type": "string",
                            "example": "AUTO"
                          },
                          "cliente_codigo": {
                            "type": "integer",
                            "example": 60
                          },
                          "cliente": {
                            "type": "string",
                            "example": "TESTE API"
                          },
                          "inivig": {
                            "type": "string",
                            "example": "01/01/2025"
                          },
                          "fimvig": {
                            "type": "string",
                            "example": "01/01/2026"
                          },
                          "numapo": {
                            "type": "string",
                            "example": "0"
                          },
                          "numend": {
                            "type": "string",
                            "example": "0"
                          },
                          "numprop": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "datemi": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "nosnum_ren": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "bot_a_dthora": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "sin_situacao": {
                            "type": "integer",
                            "example": 0
                          },
                          "cancelado": {
                            "type": "string",
                            "example": "F"
                          },
                          "historico_imagem": {
                            "type": "integer",
                            "example": 16
                          },
                          "renovacao_situacao": {
                            "type": "integer",
                            "example": 3
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parâmetros inválidos"
          },
          "401": {
            "description": "Não autorizado"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/renovacoes": {
      "get": {
        "summary": "Consultar renovações",
        "description": "Retorna detalhes das renovações com base nos parâmetros fornecidos.",
        "tags": [
          "Documentos/Produção"
        ],
        "parameters": [
          {
            "name": "dt_ini",
            "in": "query",
            "required": true,
            "description": "Data inicial para o filtro de renovações.",
            "schema": {
              "type": "string",
              "example": "01/09/2023"
            }
          },
          {
            "name": "dt_fim",
            "in": "query",
            "required": true,
            "description": "Data final para o filtro de renovações.",
            "schema": {
              "type": "string",
              "example": "30/09/2023"
            }
          },
          {
            "name": "qtd_pag",
            "in": "query",
            "required": false,
            "description": "Quantidade de registros por página.",
            "schema": {
              "type": "integer",
              "example": 20
            }
          },
          {
            "name": "pag",
            "in": "query",
            "required": false,
            "description": "Número da página para paginação.",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "ordem",
            "in": "query",
            "required": false,
            "description": "Campo para ordenar os resultados.",
            "schema": {
              "type": "string",
              "example": "nosnum"
            }
          },
          {
            "name": "orientacao",
            "in": "query",
            "required": false,
            "description": "Orientação para ordenação dos registros (ascendente ou descendente).",
            "schema": {
              "type": "string",
              "example": "asc"
            }
          },
          {
            "name": "texto",
            "in": "query",
            "required": false,
            "description": "Texto para busca.",
            "schema": {
              "type": "string",
              "example": "Renovação"
            }
          },
          {
            "name": "cancelado",
            "in": "query",
            "required": false,
            "description": "Filtra renovações canceladas (T - true, F - false).",
            "schema": {
              "type": "string",
              "example": "F"
            }
          },
          {
            "name": "resgates",
            "in": "query",
            "required": false,
            "description": "Filtra renovações com resgates (T - true, F - false).",
            "schema": {
              "type": "string",
              "example": "F"
            }
          },
          {
            "name": "codcli",
            "in": "query",
            "required": true,
            "description": "Código do cliente.",
            "schema": {
              "type": "integer",
              "example": 1988
            }
          },
          {
            "name": "codram",
            "in": "query",
            "required": true,
            "description": "Código do ramo de seguro.",
            "schema": {
              "type": "integer",
              "example": 20
            }
          },
          {
            "name": "codcia",
            "in": "query",
            "required": true,
            "description": "Código da seguradora.",
            "schema": {
              "type": "integer",
              "example": 19
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Renovações encontradas"
          },
          "400": {
            "description": "Solicitação inválida"
          },
          "404": {
            "description": "Renovações não encontradas"
          }
        }
      }
    },
    "/documento_anexos": {
      "get": {
        "summary": "Consultar anexos de documento",
        "description": "Retorna os anexos de um documento específico com base no código da filial e no número do documento.",
        "tags": [
          "Documentos/Produção"
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "required": true,
            "description": "Código da filial.",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "nosnum",
            "in": "query",
            "required": true,
            "description": "Número do documento.",
            "schema": {
              "type": "integer",
              "example": 525458
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Anexos encontrados"
          },
          "400": {
            "description": "Solicitação inválida"
          },
          "404": {
            "description": "Anexos não encontrados"
          }
        }
      }
    },
    "/documento_endossos": {
      "get": {
        "summary": "Consultar endossos de documento",
        "description": "Retorna os endossos de um documento específico com base no código da filial e no número do documento.",
        "tags": [
          "Documentos/Produção"
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "required": true,
            "description": "Código da filial.",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "nosnum",
            "in": "query",
            "required": true,
            "description": "Número do documento.",
            "schema": {
              "type": "integer",
              "example": 26397
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endossos encontrados"
          },
          "400": {
            "description": "Solicitação inválida"
          },
          "404": {
            "description": "Endossos não encontrados"
          }
        }
      }
    },
    "/cliente": {
      "get": {
        "summary": "Obter informações de um cliente",
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "description": "Código de filial",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "codigo",
            "in": "query",
            "description": "Código do cliente",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 150
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cliente encontrado"
          }
        }
      },
      "post": {
        "summary": "Inserir um novo cliente",
        "description": "Inserção de um novo cliente, incluindo dados de endereços, e-mails e telefones.",
        "tags": [
          "Cliente"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "codfil": {
                    "type": "integer",
                    "example": 1
                  },
                  "nome": {
                    "type": "string",
                    "example": "teste"
                  },
                  "ativo": {
                    "type": "string",
                    "example": "F"
                  },
                  "cpf_cnpj": {
                    "type": "string",
                    "nullable": true,
                    "example": null
                  },
                  "datanas": {
                    "type": "string",
                    "format": "date",
                    "example": "04/05/1915"
                  },
                  "pessoa": {
                    "type": "string",
                    "example": "F"
                  },
                  "sexo": {
                    "type": "string",
                    "example": "M"
                  },
                  "observacoes": {
                    "type": "string",
                    "example": ""
                  },
                  "enderecos": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "tipo": {
                          "type": "string"
                        },
                        "logradouro": {
                          "type": "string"
                        },
                        "numero": {
                          "type": "integer"
                        },
                        "complemento": {
                          "type": "string"
                        },
                        "bairro": {
                          "type": "string",
                          "nullable": true
                        },
                        "cep": {
                          "type": "integer"
                        },
                        "padrao": {
                          "type": "string"
                        },
                        "cidade": {
                          "type": "string"
                        },
                        "estado": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string"
                        },
                        "padrao": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "telefones": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "tipo": {
                          "type": "string"
                        },
                        "ddd": {
                          "type": "integer"
                        },
                        "numero": {
                          "type": "string"
                        },
                        "ramal": {
                          "type": "string",
                          "nullable": true
                        },
                        "padrao": {
                          "type": "string"
                        },
                        "codcon": {
                          "type": "string",
                          "nullable": true
                        },
                        "codemp": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cliente inserido com sucesso"
          }
        }
      },
      "delete": {
        "summary": "Excluir um cliente",
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "description": "Código de filial",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "codigo",
            "in": "query",
            "description": "Código do cliente",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 150
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cliente excluído com sucesso"
          }
        }
      }
    },
    "/clientes": {
      "get": {
        "summary": "Obter lista de clientes",
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "datini",
            "in": "query",
            "description": "Data de início",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datfim",
            "in": "query",
            "description": "Data de fim",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "texto",
            "in": "query",
            "description": "Texto de busca",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qtd_pag",
            "in": "query",
            "description": "Quantidade de itens por página",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 20
            }
          },
          {
            "name": "pag",
            "in": "query",
            "description": "Página de resultados",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "ordem",
            "in": "query",
            "description": "Ordenação",
            "required": false,
            "schema": {
              "type": "string",
              "example": "codigo"
            }
          },
          {
            "name": "orientacao",
            "in": "query",
            "description": "Orientação da ordenação",
            "required": false,
            "schema": {
              "type": "string",
              "example": "desc"
            }
          },
          {
            "name": "inativo",
            "in": "query",
            "description": "Incluir clientes inativos",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "vigentes",
            "in": "query",
            "description": "Seleção de clientes vigentes",
            "required": false,
            "schema": {
              "type": "string",
              "example": "all"
            }
          },
          {
            "name": "periodo",
            "in": "query",
            "description": "Período de data",
            "required": false,
            "schema": {
              "type": "string",
              "example": "datinc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de clientes"
          }
        }
      }
    },
    "/cliente_cpf": {
      "get": {
        "summary": "Obter cliente por CPF ou CNPJ",
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "description": "Código de filial",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "cpf_cnpj",
            "in": "query",
            "description": "CPF ou CNPJ do cliente",
            "required": true,
            "schema": {
              "type": "string",
              "example": "04030167039"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cliente encontrado"
          }
        }
      }
    },
    "/cliente_anexos": {
      "get": {
        "summary": "Obter anexos de um cliente",
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "description": "Código de filial",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "codigo",
            "in": "query",
            "description": "Código do cliente",
            "required": true,
            "schema": {
              "type": "string",
              "example": "3680x"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Anexos do cliente encontrados"
          }
        }
      }
    },
    "/lista_clientes": {
      "get": {
        "summary": "Obter lista de clientes com filtro por nome",
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "texto",
            "in": "query",
            "description": "Nome do cliente",
            "required": true,
            "schema": {
              "type": "string",
              "example": "leonardo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de clientes com base no filtro"
          }
        }
      }
    },
    "/busca_cpf": {
      "get": {
        "summary": "Buscar cliente por CPF",
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "cpf_cnpj",
            "in": "query",
            "description": "CPF ou CNPJ do cliente",
            "required": true,
            "schema": {
              "type": "string",
              "example": "04030167039"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cliente encontrado"
          }
        }
      }
    },
    "/endereco": {
      "post": {
        "summary": "Criar um novo endereço",
        "tags": [
          "Endereço"
        ],
        "description": "Cria um novo endereço para um cliente.",
        "operationId": "criarEndereco",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "codcli": {
                    "type": "integer",
                    "example": 123
                  },
                  "logradouro": {
                    "type": "string",
                    "example": ""
                  },
                  "numero": {
                    "type": "integer",
                    "example": 123
                  },
                  "complemento": {
                    "type": "string",
                    "example": ""
                  },
                  "bairro": {
                    "type": "string",
                    "example": ""
                  },
                  "cep": {
                    "type": "string",
                    "example": ""
                  },
                  "cidade": {
                    "type": "string",
                    "example": ""
                  },
                  "estado": {
                    "type": "string",
                    "example": ""
                  },
                  "tipo": {
                    "type": "string",
                    "example": ""
                  },
                  "padrao": {
                    "type": "string",
                    "example": "T"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Endereço criado com sucesso"
          },
          "400": {
            "description": "Solicitação mal formada"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      },
      "put": {
        "summary": "Atualizar um endereço existente",
        "tags": [
          "Endereço"
        ],
        "description": "Atualiza um endereço já existente de um cliente.",
        "operationId": "atualizarEndereco",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "codigo": {
                    "type": "integer",
                    "example": 123
                  },
                  "codcli": {
                    "type": "integer",
                    "example": 123
                  },
                  "tipo": {
                    "type": "string",
                    "example": "R"
                  },
                  "logradouro": {
                    "type": "string",
                    "example": ""
                  },
                  "numero": {
                    "type": "integer",
                    "example": 0
                  },
                  "complemento": {
                    "type": "string",
                    "example": ""
                  },
                  "bairro": {
                    "type": "string",
                    "example": null
                  },
                  "cep": {
                    "type": "integer",
                    "example": 93510100
                  },
                  "padrao": {
                    "type": "string",
                    "example": "F"
                  },
                  "cidade": {
                    "type": "string",
                    "example": "NOVO HAMBURGO"
                  },
                  "estado": {
                    "type": "string",
                    "example": "RS"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Endereço atualizado com sucesso"
          },
          "400": {
            "description": "Solicitação mal formada"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      },
      "delete": {
        "summary": "Deletar um endereço",
        "description": "Remove um endereço de um cliente.",
        "tags": [
          "Endereço"
        ],
        "operationId": "deletarEndereco",
        "parameters": [
          {
            "in": "query",
            "name": "codigo",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 123
            },
            "description": "Código do endereço a ser deletado"
          }
        ],
        "responses": {
          "200": {
            "description": "Endereço deletado com sucesso"
          },
          "400": {
            "description": "Solicitação mal formada"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      }
    },
    "/email": {
      "post": {
        "summary": "Criar um novo e-mail",
        "description": "Adiciona um novo e-mail a um cliente.",
        "tags": [
          "Email"
        ],
        "operationId": "criarEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "codcli": {
                    "type": "integer",
                    "example": 123
                  },
                  "padrao": {
                    "type": "string",
                    "example": "T"
                  },
                  "email": {
                    "type": "string",
                    "example": "teste@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "E-mail criado com sucesso"
          },
          "400": {
            "description": "Solicitação mal formada"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      },
      "put": {
        "summary": "Atualizar um e-mail existente",
        "description": "Atualiza o e-mail de um cliente.",
        "tags": [
          "Email"
        ],
        "operationId": "atualizarEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "codigo": {
                    "type": "integer",
                    "example": 123
                  },
                  "codcli": {
                    "type": "integer",
                    "example": 123
                  },
                  "padrao": {
                    "type": "string",
                    "example": "f"
                  },
                  "email": {
                    "type": "string",
                    "example": "teste@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "E-mail atualizado com sucesso"
          },
          "400": {
            "description": "Solicitação mal formada"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      },
      "delete": {
        "summary": "Deletar um e-mail",
        "description": "Remove o e-mail de um cliente.",
        "tags": [
          "Email"
        ],
        "operationId": "deletarEmail",
        "parameters": [
          {
            "in": "query",
            "name": "codigo",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 2355
            },
            "description": "Código do e-mail a ser deletado"
          }
        ],
        "responses": {
          "200": {
            "description": "E-mail deletado com sucesso"
          },
          "400": {
            "description": "Solicitação mal formada"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      }
    },
    "/telefone": {
      "post": {
        "summary": "Adicionar um novo telefone",
        "description": "Adiciona um novo telefone a um cliente.",
        "tags": [
          "Telefone"
        ],
        "operationId": "adicionarTelefone",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "codcli": {
                    "type": "integer",
                    "example": 123
                  },
                  "tipo": {
                    "type": "string",
                    "example": "C"
                  },
                  "ddd": {
                    "type": "integer",
                    "example": 51
                  },
                  "numero": {
                    "type": "string",
                    "example": "35561006"
                  },
                  "padrao": {
                    "type": "string",
                    "example": "T"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telefone adicionado com sucesso"
          },
          "400": {
            "description": "Solicitação mal formada"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      },
      "put": {
        "summary": "Atualizar um telefone existente",
        "description": "Atualiza o telefone de um cliente.",
        "tags": [
          "Telefone"
        ],
        "operationId": "atualizarTelefone",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "codigo": {
                    "type": "integer",
                    "example": 123
                  },
                  "codcli": {
                    "type": "integer",
                    "example": 123
                  },
                  "tipo": {
                    "type": "string",
                    "example": "E"
                  },
                  "ddd": {
                    "type": "integer",
                    "example": 51
                  },
                  "numero": {
                    "type": "string",
                    "example": "35561006"
                  },
                  "padrao": {
                    "type": "string",
                    "example": "F"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telefone atualizado com sucesso"
          },
          "400": {
            "description": "Solicitação mal formada"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      },
      "delete": {
        "summary": "Deletar um telefone",
        "description": "Remove o telefone de um cliente.",
        "tags": [
          "Telefone"
        ],
        "operationId": "deletarTelefone",
        "parameters": [
          {
            "in": "query",
            "name": "codigo",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 123
            },
            "description": "Código do telefone a ser deletado"
          }
        ],
        "responses": {
          "200": {
            "description": "Telefone deletado com sucesso"
          },
          "400": {
            "description": "Solicitação mal formada"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      }
    },
    "/negocios_andamento": {
      "get": {
        "summary": "Lista os negócios em andamento",
        "description": "Recupera todos os negócios em andamento com filtros de data, texto, status e outros parâmetros.",
        "tags": [
          "Negociações"
        ],
        "parameters": [
          {
            "name": "dtini",
            "in": "query",
            "description": "Data inicial para filtro",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dtfim",
            "in": "query",
            "description": "Data final para filtro",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "texto",
            "in": "query",
            "description": "Texto para busca",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qtd_pag",
            "in": "query",
            "description": "Quantidade por página",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "pag",
            "in": "query",
            "description": "Página de resultados",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "ordem",
            "in": "query",
            "description": "Ordenação dos resultados",
            "required": false,
            "schema": {
              "type": "string",
              "default": "codigo"
            }
          },
          {
            "name": "orientacao",
            "in": "query",
            "description": "Orientação da ordenação",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filtro de status (all, atrasadas, etc.)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "calculo",
            "in": "query",
            "description": "Calculo de negócios",
            "required": false,
            "schema": {
              "type": "string",
              "default": "t"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso ao retornar os negócios em andamento",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigo": {
                        "type": "integer"
                      },
                      "status": {
                        "type": "string"
                      },
                      "dtini": {
                        "type": "string"
                      },
                      "dtfim": {
                        "type": "string"
                      },
                      "texto": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      }
    },
    "/negocios_em_calculo": {
      "get": {
        "summary": "Lista os negócios em cálculo",
        "description": "Recupera negócios em cálculo com filtros como data, texto, status e mais.",
        "tags": [
          "Negociações"
        ],
        "parameters": [
          {
            "name": "dtini",
            "in": "query",
            "description": "Data inicial para filtro",
            "required": true,
            "schema": {
              "type": "string",
              "example": "01/01/2010"
            }
          },
          {
            "name": "dtfim",
            "in": "query",
            "description": "Data final para filtro",
            "required": true,
            "schema": {
              "type": "string",
              "example": "31/12/2023"
            }
          },
          {
            "name": "texto",
            "in": "query",
            "description": "Texto para busca",
            "required": false,
            "schema": {
              "type": "string",
              "example": "joaoas"
            }
          },
          {
            "name": "qtd_pag",
            "in": "query",
            "description": "Quantidade por página",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 15
            }
          },
          {
            "name": "pag",
            "in": "query",
            "description": "Página de resultados",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "ordem",
            "in": "query",
            "description": "Campo para ordenar os resultados",
            "required": false,
            "schema": {
              "type": "string",
              "default": "codigo"
            }
          },
          {
            "name": "orientacao",
            "in": "query",
            "description": "Orientação da ordenação (asc/desc)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status do negócio (TODOS, ATRASADAS)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "TODOS"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso ao retornar os negócios em cálculo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigo": {
                        "type": "integer"
                      },
                      "status": {
                        "type": "string"
                      },
                      "dtini": {
                        "type": "string"
                      },
                      "dtfim": {
                        "type": "string"
                      },
                      "texto": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      }
    },
    "/negocios_finalizados": {
      "get": {
        "summary": "Lista os negócios finalizados",
        "description": "Recupera negócios que foram finalizados com filtros como data, texto, status e mais.",
        "tags": [
          "Negociações"
        ],
        "parameters": [
          {
            "name": "texto",
            "in": "query",
            "description": "Texto para busca",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pag",
            "in": "query",
            "description": "Página de resultados",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "ordem",
            "in": "query",
            "description": "Campo de ordenação",
            "required": false,
            "schema": {
              "type": "string",
              "default": "codcli"
            }
          },
          {
            "name": "orientacao",
            "in": "query",
            "description": "Orientação da ordenação (asc/desc)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "name": "dtini",
            "in": "query",
            "description": "Data inicial para filtro",
            "required": false,
            "schema": {
              "type": "string",
              "example": "01/10/2023"
            }
          },
          {
            "name": "dtfim",
            "in": "query",
            "description": "Data final para filtro",
            "required": false,
            "schema": {
              "type": "string",
              "example": "31/10/2023"
            }
          },
          {
            "name": "qtd_pag",
            "in": "query",
            "description": "Quantidade por página",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filtro de status",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso ao retornar os negócios finalizados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigo": {
                        "type": "integer"
                      },
                      "status": {
                        "type": "string"
                      },
                      "dtini": {
                        "type": "string"
                      },
                      "dtfim": {
                        "type": "string"
                      },
                      "texto": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      }
    },
    "/negocio_anexos": {
      "get": {
        "summary": "Recupera anexos de um negócio",
        "description": "Obtém anexos relacionados a um negócio específico.",
        "tags": [
          "Negociações"
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "description": "Código da filial",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "codigo",
            "in": "query",
            "description": "Código do negócio",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 123
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso ao retornar os anexos do negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "file_name": {
                        "type": "string"
                      },
                      "file_type": {
                        "type": "string"
                      },
                      "file_size": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      }
    },
    "/negocio": {
      "get": {
        "summary": "Recupera dados de um negócio específico",
        "description": "Obtém detalhes de um negócio pelo código.",
        "tags": [
          "Negociações"
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "description": "Código da filial",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "codigo",
            "in": "query",
            "description": "Código do negócio",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 123
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso ao retornar o negócio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "dtini": {
                      "type": "string"
                    },
                    "dtfim": {
                      "type": "string"
                    },
                    "texto": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      },
      "post": {
        "summary": "Cria ou atualiza um negócio",
        "description": "Envia dados para criar ou atualizar um negócio.",
        "tags": [
          "Negociações"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cpf_cnpj": {
                    "type": "string"
                  },
                  "codram": {
                    "type": "integer"
                  },
                  "ddd_fone": {
                    "type": "string"
                  },
                  "numero_fone": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "produto_ja_possui": {
                    "type": "string",
                    "enum": [
                      "F",
                      "T"
                    ]
                  },
                  "produto_fimvig": {
                    "type": "string",
                    "nullable": true
                  },
                  "produto_seguradora": {
                    "type": "string",
                    "nullable": true
                  },
                  "observacoes": {
                    "type": "string",
                    "nullable": true
                  },
                  "val_premio": {
                    "type": "number",
                    "nullable": true
                  },
                  "usuinc": {
                    "type": "string"
                  },
                  "datinc": {
                    "type": "string",
                    "example": "10/10/2023 16:15"
                  },
                  "usualt": {
                    "type": "string"
                  },
                  "datalt": {
                    "type": "string",
                    "example": "10/10/2023"
                  },
                  "produto_codfil": {
                    "type": "string"
                  },
                  "produto_nosnum": {
                    "type": "string"
                  },
                  "produto_numapo": {
                    "type": "string"
                  },
                  "prioridade": {
                    "type": "integer"
                  },
                  "etapa": {
                    "type": "integer"
                  },
                  "status": {
                    "type": "integer"
                  },
                  "codcia": {
                    "type": "integer",
                    "nullable": true
                  },
                  "codcamp": {
                    "type": "string"
                  },
                  "tipo": {
                    "type": "integer"
                  },
                  "dtini_negociacao": {
                    "type": "string"
                  },
                  "usuini_negociacao": {
                    "type": "string"
                  },
                  "dtfim_negociacao": {
                    "type": "string"
                  },
                  "usufim_negociacao": {
                    "type": "string"
                  },
                  "codusu_responsavel": {
                    "type": "string"
                  },
                  "codopo_rep": {
                    "type": "string"
                  },
                  "doc_codfil": {
                    "type": "string"
                  },
                  "doc_nosnum": {
                    "type": "string"
                  },
                  "motivo_perda": {
                    "type": "string"
                  },
                  "codfil": {
                    "type": "integer"
                  },
                  "codcli": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Negócio criado ou atualizado com sucesso"
          },
          "400": {
            "description": "Erro na criação ou atualização do negócio"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      }
    },
    "/agentes": {
      "get": {
        "tags": [
          "Produtores"
        ],
        "summary": "Lista de agentes",
        "description": "Obtém uma lista de agentes com base no texto fornecido.",
        "parameters": [
          {
            "name": "texto",
            "in": "query",
            "description": "Texto que pode ser utilizado ou não",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de agentes",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/produtores": {
      "get": {
        "tags": [
          "Produtores"
        ],
        "summary": "Consulta de produtores",
        "description": "Consulta produtores com base nos parâmetros fornecidos.",
        "parameters": [
          {
            "name": "texto",
            "in": "query",
            "description": "Texto que pode ser utilizado ou não para filtrar os produtores",
            "required": false,
            "type": "string"
          },
          {
            "name": "codage",
            "in": "query",
            "description": "Código do agente",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de produtores encontrados",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/prod_docs": {
      "get": {
        "tags": [
          "Produtores"
        ],
        "summary": "Consulta de documentos de produção",
        "description": "Consulta documentos de produção com base nos parâmetros fornecidos.",
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "description": "Código da filial",
            "required": true,
            "type": "integer"
          },
          {
            "name": "nosnum",
            "in": "query",
            "description": "Código do documento",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Documentos encontrados",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Produtores"
        ],
        "summary": "Criação de documentos de produção",
        "description": "Cria um novo documento de produção.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Dados do documento de produção a ser criado",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "codfil": {
                  "type": "integer"
                },
                "nosnum": {
                  "type": "integer"
                },
                "codage": {
                  "type": "integer"
                },
                "codpro": {
                  "type": "integer"
                },
                "indireto": {
                  "type": "string"
                },
                "perpart": {
                  "type": "integer"
                },
                "campo_base_r": {
                  "type": "integer"
                },
                "per_r": {
                  "type": "number",
                  "format": "float"
                },
                "forma_repasse_r": {
                  "type": "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Documento de produção criado com sucesso"
          },
          "400": {
            "description": "Erro na criação do documento"
          }
        }
      },
      "patch": {
        "tags": [
          "Produtores"
        ],
        "summary": "Atualização de documentos de produção",
        "description": "Atualiza um documento de produção existente.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Dados do documento de produção a ser atualizado",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "codfil": {
                  "type": "integer"
                },
                "nosnum": {
                  "type": "integer"
                },
                "codage": {
                  "type": "integer"
                },
                "codpro": {
                  "type": "integer"
                },
                "codpro_novo": {
                  "type": "integer"
                },
                "codage_novo": {
                  "type": "integer"
                },
                "indireto": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documento de produção atualizado com sucesso"
          },
          "400": {
            "description": "Erro na atualização do documento"
          }
        }
      },
      "delete": {
        "tags": [
          "Produtores"
        ],
        "summary": "Remover documento de produção",
        "description": "Remove um documento de produção.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Dados do documento de produção a ser removido",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "codfil": {
                  "type": "integer"
                },
                "nosnum": {
                  "type": "integer"
                },
                "codage": {
                  "type": "integer"
                },
                "codpro": {
                  "type": "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documento de produção removido com sucesso"
          },
          "400": {
            "description": "Erro ao remover o documento"
          }
        }
      }
    },
    "/ramos": {
      "get": {
        "tags": [
          "Ramos"
        ],
        "summary": "Consulta de Ramos",
        "description": "Obtém uma lista de todos os Ramos disponíveis.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Lista de Ramos encontrados",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/lista_ramos": {
      "get": {
        "tags": [
          "Ramos"
        ],
        "summary": "Consulta de Ramos por telefone",
        "description": "Obtém uma lista de Ramos filtrados pelo número de telefone fornecido.",
        "parameters": [
          {
            "name": "telram",
            "in": "query",
            "description": "Número de telefone para filtrar os Ramos",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de Ramos encontrados com base no telefone",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/sinistros": {
      "get": {
        "tags": [
          "Sinistro"
        ],
        "summary": "Consulta de Sinistros",
        "description": "Obtém uma lista de sinistros com base nos filtros fornecidos.",
        "parameters": [
          {
            "name": "tipo_sinistro",
            "in": "query",
            "description": "Tipo de sinistro (A, T, S)",
            "required": false,
            "type": "string"
          },
          {
            "name": "data_inicial",
            "in": "query",
            "description": "Data inicial do filtro (formato dd/MM/yyyy)",
            "required": true,
            "type": "string"
          },
          {
            "name": "data_final",
            "in": "query",
            "description": "Data final do filtro (formato dd/MM/yyyy)",
            "required": true,
            "type": "string"
          },
          {
            "name": "tipo_data",
            "in": "query",
            "description": "Tipo de data para filtro (AVI, ENC, MOD, OCO)",
            "required": false,
            "type": "string"
          },
          {
            "name": "situacao",
            "in": "query",
            "description": "Situação do sinistro (P, A, E, I, T)",
            "required": false,
            "type": "string"
          },
          {
            "name": "qtd_pag",
            "in": "query",
            "description": "Quantidade de registros por página",
            "required": true,
            "type": "integer"
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Número da página de resultados",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de sinistros encontrados",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
[...]
