{
  "openapi": "3.0.0",
  "info": {
    "title": "CorpAPI",
    "description": "API para autenticação de usuários e gerenciamento de sessões.",
    "version": "1.0.0"
  },
  "tags": [
    {
      "name": "Autenticação",
      "description": "Endpoints para gerenciar autenticação de usuários"
    },
    {
      "name": "Documentos/Produção",
      "description": "Endpoints para gerenciar documentos e processos de produção"
    },
    {
      "name": "Cliente",
      "description": "Endpoints para gerenciar informações dos clientes"
    },
    {
      "name": "Endereço",
      "description": "Endpoints para gerenciar endereços de clientes ou associados"
    },
    {
      "name": "Email",
      "description": "Endpoints para gerenciar emails dos clientes ou usuários"
    },
    {
      "name": "Telefone",
      "description": "Endpoints para gerenciar telefones de clientes ou associados"
    },
    {
      "name": "Negociações",
      "description": "Endpoints para gerenciar e consultar negociações em andamento ou finalizadas"
    },
    {
      "name": "Produtores",
      "description": "Endpoints para gerenciar informações sobre os produtores"
    },
    {
      "name": "Ramos",
      "description": "Endpoints para gerenciar ramos de seguro ou outros produtos"
    },
    {
      "name": "Sinistro",
      "description": "Endpoints para gerenciar sinistros e suas informações"
    },
    {
      "name": "BI",
      "description": "Endpoints para gerenciar informações de BI (Business Intelligence)"
    }
  ],
  "servers": [
    {
      "url": "https://api.corpnuvem.com"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "Autenticação"
        ],
        "summary": "Login de usuário",
        "description": "Autentica um usuário e retorna um token de acesso.",
        "requestBody": {
          "description": "Dados de login do usuário.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "O e-mail do usuário.",
                    "example": "usuario@exemplo.com"
                  },
                  "senha": {
                    "type": "string",
                    "description": "A senha do usuário.",
                    "example": "senha123"
                  }
                },
                "required": [
                  "email",
                  "senha"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login bem-sucedido. Retorna os dados do usuário e um token de acesso.",
            "headers": {
              "Authorization": {
                "description": "Token de acesso JWT.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "integer",
                      "example": 11
                    },
                    "nome": {
                      "type": "string",
                      "example": "Sua corretora"
                    },
                    "login": {
                      "type": "string",
                      "example": "Sua corretora"
                    },
                    "email": {
                      "type": "string",
                      "example": "contato@suacorretora.com.br"
                    },
                    "email_multi": {
                      "type": "string",
                      "nullable": true
                    },
                    "codfil": {
                      "type": "integer",
                      "example": 1
                    },
                    "p500": {
                      "type": "string",
                      "example": "T"
                    },
                    "p501": {
                      "type": "string",
                      "example": "T"
                    },
                    "p502": {
                      "type": "string",
                      "example": "T"
                    },
                    "p600": {
                      "type": "string",
                      "example": "T"
                    },
                    "p601": {
                      "type": "string",
                      "example": "T"
                    },
                    "p602": {
                      "type": "string",
                      "example": "T"
                    },
                    "p226": {
                      "type": "string",
                      "example": "T"
                    },
                    "p212": {
                      "type": "string",
                      "example": "T"
                    },
                    "p25": {
                      "type": "string",
                      "example": "T"
                    },
                    "p51": {
                      "type": "string",
                      "example": "T"
                    },
                    "p91": {
                      "type": "string",
                      "example": "T"
                    },
                    "p282": {
                      "type": "string",
                      "example": "T"
                    },
                    "p357": {
                      "type": "string",
                      "example": "T"
                    },
                    "p227": {
                      "type": "string",
                      "example": "T"
                    },
                    "p56": {
                      "type": "string",
                      "example": "T"
                    },
                    "p9": {
                      "type": "string",
                      "example": "T"
                    },
                    "p213": {
                      "type": "string",
                      "example": "T"
                    },
                    "token": {
                      "type": "string",
                      "example": "...GhLNG9reFE5RFlMQlNkSXJUUnRa..."
                    },
                    "corp_mais_dashboard": {
                      "type": "integer",
                      "example": 1
                    },
                    "chat_bot": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha na autenticação.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensagem": {
                      "type": "string",
                      "example": "Credenciais inválidas"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error."
                    }
                  }
                }
              }
            }
          },
          "401_CorpMais": {
            "description": "Usuário sem permissão de acesso ao Corp+.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Usuário sem permissão de acesso ao Corp+."
                    }
                  }
                }
              }
            }
          },
          "401_EmailInvalido": {
            "description": "Email inválido.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email inválido."
                    }
                  }
                }
              }
            }
          },
          "401_SenhaInvalida": {
            "description": "Senha inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Senha inválida."
                    }
                  }
                }
              }
            }
          },
          "403_UsuarioConectado": {
            "description": "Usuário já conectado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Usuário já conectado."
                    }
                  }
                }
              }
            }
          },
          "403_ConexoesExcedidas": {
            "description": "Conexões excedidas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Conexões excedidas."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/logout": {
      "post": {
        "tags": [
          "Autenticação"
        ],
        "summary": "Logout de usuário",
        "description": "Desloga o usuário e invalida o token de acesso.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Conexão encerrada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Conexão encerrada com sucesso."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sessão inativa.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sessão inativa."
                    },
                    "user_logged": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/documento": {
      "get": {
        "tags": [
          "Documentos/Produção"
        ],
        "summary": "Obter documento específico",
        "description": "Obtém um documento com base no código da filial e no número do documento.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "description": "Código da filial.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "nosnum",
            "in": "query",
            "description": "Número do documento.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 12345
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documento encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "header": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "example": 1
                        }
                      }
                    },
                    "documento": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codfil": {
                            "type": "integer",
                            "example": 1
                          },
                          "nosnum": {
                            "type": "integer",
                            "example": 123
                          },
                          "tipdoc": {
                            "type": "string",
                            "example": "A"
                          },
                          "numren": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "numapo": {
                            "type": "string",
                            "example": "0"
                          },
                          "numend": {
                            "type": "string",
                            "example": "0"
                          },
                          "codcia": {
                            "type": "integer",
                            "example": 12
                          },
                          "codram": {
                            "type": "integer",
                            "example": 1
                          },
                          "codcli": {
                            "type": "integer",
                            "example": 60
                          },
                          "datpro": {
                            "type": "string",
                            "format": "date",
                            "example": "24/02/2025"
                          },
                          "datemi": {
                            "type": "string",
                            "nullable": true,
                            "format": "date",
                            "example": null
                          },
                          "inivig": {
                            "type": "string",
                            "format": "date",
                            "example": "01/01/2025"
                          },
                          "fimvig": {
                            "type": "string",
                            "format": "date",
                            "example": "01/01/2026"
                          },
                          "forma_pag": {
                            "type": "string",
                            "example": "Boleto Bancário"
                          },
                          "numpar": {
                            "type": "integer",
                            "example": 12
                          },
                          "preliq": {
                            "type": "number",
                            "format": "float",
                            "example": 1500
                          },
                          "preadi": {
                            "type": "number",
                            "format": "float",
                            "example": 0
                          },
                          "predes": {
                            "type": "number",
                            "format": "float",
                            "example": 0
                          },
                          "precus": {
                            "type": "number",
                            "format": "float",
                            "example": 0
                          },
                          "preiof": {
                            "type": "number",
                            "format": "float",
                            "example": 110.7
                          },
                          "pretot": {
                            "type": "number",
                            "format": "float",
                            "example": 1610.7
                          },
                          "prepri": {
                            "type": "number",
                            "format": "float",
                            "example": 134.23
                          },
                          "vencim": {
                            "type": "integer",
                            "example": 7
                          },
                          "cuspri": {
                            "type": "string",
                            "example": "F"
                          },
                          "diafix": {
                            "type": "integer",
                            "example": 15
                          },
                          "usuinc": {
                            "type": "string",
                            "example": "INFOCAP"
                          },
                          "usualt": {
                            "type": "string",
                            "example": "INFOCAP"
                          },
                          "datinc": {
                            "type": "string",
                            "format": "date-time",
                            "example": "24/02/2025 19:45:31"
                          },
                          "modificado": {
                            "type": "string",
                            "format": "date-time",
                            "example": "24/02/2025 19:46:03"
                          },
                          "sinistro": {
                            "type": "string",
                            "example": "F"
                          },
                          "codfil_ren": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "nosnum_ren": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "codfil_end": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "nosnum_end": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "numprop": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "motivo_endosso": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "campo_base_c": {
                            "type": "integer",
                            "example": 3
                          },
                          "base_c": {
                            "type": "number",
                            "format": "float",
                            "example": 1610.7
                          },
                          "per_c": {
                            "type": "number",
                            "format": "float",
                            "example": 25
                          },
                          "val_c": {
                            "type": "number",
                            "format": "float",
                            "example": 402.68
                          },
                          "forma_recebimento_c": {
                            "type": "integer",
                            "example": 1
                          },
                          "val_ca": {
                            "type": "number",
                            "format": "float",
                            "example": 0
                          },
                          "campo_base_cp": {
                            "type": "integer",
                            "example": 0
                          },
                          "base_cp": {
                            "type": "number",
                            "format": "float",
                            "example": 0
                          },
                          "per_cp": {
                            "type": "number",
                            "format": "float",
                            "example": 0
                          },
                          "val_cp": {
                            "type": "number",
                            "format": "float",
                            "example": 0
                          },
                          "forma_recebimento_cp": {
                            "type": "integer",
                            "example": 1
                          },
                          "recusado": {
                            "type": "string",
                            "example": "F"
                          },
                          "codcanal": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "observacoes_txt": {
                            "type": "string",
                            "example": ""
                          },
                          "tabela_itens": {
                            "type": "string",
                            "example": "AUTOMOVEL"
                          },
                          "ramo_abrev": {
                            "type": "string",
                            "example": "AUTO"
                          },
                          "ramo": {
                            "type": "string",
                            "example": "AUTOMOVEL"
                          },
                          "telram": {
                            "type": "integer",
                            "example": 1
                          },
                          "seguradora_abrev": {
                            "type": "string",
                            "example": "PORT"
                          },
                          "seguradora": {
                            "type": "string",
                            "example": "PORTO SEGURO"
                          },
                          "filial": {
                            "type": "string",
                            "example": "BASE DE DEMONSTRAÇÃO"
                          },
                          "sit_acompanhamento": {
                            "type": "integer",
                            "example": 2
                          },
                          "sit_acompanhamento_txt": {
                            "type": "string",
                            "example": "Pendente de emissão - em atraso"
                          },
                          "sit_sinistro": {
                            "type": "integer",
                            "example": 0
                          },
                          "sit_sinistro_txt": {
                            "type": "string",
                            "example": "APÓLICE SEM SINISTRO"
                          },
                          "cancelado": {
                            "type": "string",
                            "example": "F"
                          },
                          "sit_renovacao": {
                            "type": "integer",
                            "example": 3
                          },
                          "sit_renovacao_txt": {
                            "type": "string",
                            "example": "APÓLICE NOVA\r APÓLICE NÃO RENOVADA\r VIGÊNCIA: 01/01/2025 A 31/01/2025\r "
                          },
                          "renovado_codfil": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "renovado_nosnum": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "tipdoc_txt": {
                            "type": "string",
                            "example": "A - Apólice"
                          },
                          "motivo_endosso_txt": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "ad_receb_data": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "ad_entr_data": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "cliente": {
                            "type": "string",
                            "example": "TESTE API"
                          },
                          "ad_receb_doc_fisico": {
                            "type": "string",
                            "example": "F"
                          },
                          "ad_receb_doc_digital": {
                            "type": "string",
                            "example": "F"
                          },
                          "ad_entr_forma": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "bot_a_dthora": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "cod_forma_pag": {
                            "type": "integer",
                            "example": 2
                          },
                          "codopo": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "dtfim_negociacao": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "codmulti": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "importado_pelo_incorp": {
                            "type": "string",
                            "example": "F"
                          },
                          "canal_vendas_descricao": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "parcelas": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Documento não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Documento não encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/documentos": {
      "get": {
        "summary": "Consulta Documentos",
        "tags": [
          "Documentos/Produção"
        ],
        "description": "Endpoint para consultar documentos com base em filtros específicos.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "description": "Código da filial",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "periodo",
            "in": "query",
            "description": "Data a ser utilizada - Ex: datinc(data de inclusão) datalt(data de alteração)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "datinc"
            }
          },
          {
            "name": "datini",
            "in": "query",
            "description": "Data inicial do período (formato: dd/MM/yyyy)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "01/01/2023"
            }
          },
          {
            "name": "datfim",
            "in": "query",
            "description": "Data final do período (formato: dd/MM/yyyy)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "30/01/2023"
            }
          },
          {
            "name": "ordem",
            "in": "query",
            "description": "Tipo de ordenação. Ex: nosnum (identificador do documento)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "nosnum"
            }
          },
          {
            "name": "qtd_pag",
            "in": "query",
            "description": "Quantidade de itens por página.",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 20
            }
          },
          {
            "name": "pag",
            "in": "query",
            "description": "Número da página que será retornada.",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de documentos encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "header": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "example": 100
                        }
                      }
                    },
                    "documentos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codfil": {
                            "type": "integer",
                            "example": 1
                          },
                          "nosnum": {
                            "type": "integer",
                            "example": 191
                          },
                          "tipdoc": {
                            "type": "string",
                            "example": "A"
                          },
                          "seguradora": {
                            "type": "string",
                            "example": "PORT"
                          },
                          "ramo": {
                            "type": "string",
                            "example": "AUTO"
                          },
                          "cliente": {
                            "type": "string",
                            "example": "TESTE API"
                          },
                          "inivig": {
                            "type": "string",
                            "example": "01/01/2025"
                          },
                          "fimvig": {
                            "type": "string",
                            "example": "31/01/2025"
                          },
                          "numapo": {
                            "type": "string",
                            "example": "0"
                          },
                          "numend": {
                            "type": "string",
                            "example": "0"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parâmetros inválidos"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/producao": {
      "get": {
        "summary": "Consulta Produção",
        "tags": [
          "Documentos/Produção"
        ],
        "description": "Endpoint para buscar registros de produção com filtros específicos.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "texto",
            "in": "query",
            "description": "Esse campo é uma busca por texto genérica, busca por nome, e-mail, nos contatos",
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "dt_ini",
            "in": "query",
            "description": "Data inicial por início de vigência (formato: dd/MM/yyyy)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "22/02/2022"
            }
          },
          {
            "name": "dt_fim",
            "in": "query",
            "description": "Data final por início de vigência (formato: dd/MM/yyyy)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "22/02/2022"
            }
          },
          {
            "name": "ordem",
            "in": "query",
            "description": "Tipo de ordenação (campo usado para ordenar os resultados)",
            "schema": {
              "type": "string",
              "example": "inivig"
            }
          },
          {
            "name": "orientacao",
            "in": "query",
            "description": "Orientação dos registros filtrados (ascendente ou descendente)",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "asc"
            }
          },
          {
            "name": "so_renovados",
            "in": "query",
            "description": "Filtrar apenas renovados. Valores: T - true | F - false | X - todos",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F",
                "X"
              ],
              "example": "T"
            }
          },
          {
            "name": "so_emitidos",
            "in": "query",
            "description": "Filtrar apenas emitidos. Valores: T - true | F - false | X - todos",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F",
                "X"
              ],
              "example": "X"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de produções encontradas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "header": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "example": 1
                        }
                      }
                    },
                    "producao": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codfil": {
                            "type": "integer",
                            "example": 1
                          },
                          "nosnum": {
                            "type": "integer",
                            "example": 123
                          },
                          "tipdoc": {
                            "type": "string",
                            "example": "A"
                          },
                          "seguradora": {
                            "type": "string",
                            "example": "PORT"
                          },
                          "ramo": {
                            "type": "string",
                            "example": "AUTO"
                          },
                          "cliente_codigo": {
                            "type": "integer",
                            "example": 60
                          },
                          "cliente": {
                            "type": "string",
                            "example": "TESTE API"
                          },
                          "inivig": {
                            "type": "string",
                            "example": "01/01/2025"
                          },
                          "fimvig": {
                            "type": "string",
                            "example": "01/01/2026"
                          },
                          "numapo": {
                            "type": "string",
                            "example": "0"
                          },
                          "numend": {
                            "type": "string",
                            "example": "0"
                          },
                          "numprop": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "datemi": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "nosnum_ren": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "bot_a_dthora": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "sin_situacao": {
                            "type": "integer",
                            "example": 0
                          },
                          "cancelado": {
                            "type": "string",
                            "example": "F"
                          },
                          "historico_imagem": {
                            "type": "integer",
                            "example": 16
                          },
                          "renovacao_situacao": {
                            "type": "integer",
                            "example": 3
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parâmetros inválidos"
          },
          "401": {
            "description": "Não autorizado"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/renovacoes": {
      "get": {
        "summary": "Consultar renovações",
        "description": "Retorna detalhes das renovações com base nos parâmetros fornecidos.",
        "tags": [
          "Documentos/Produção"
        ],
        "parameters": [
          {
            "name": "dt_ini",
            "in": "query",
            "required": true,
            "description": "Data inicial para o filtro de renovações.",
            "schema": {
              "type": "string",
              "example": "01/09/2023"
            }
          },
          {
            "name": "dt_fim",
            "in": "query",
            "required": true,
            "description": "Data final para o filtro de renovações.",
            "schema": {
              "type": "string",
              "example": "30/09/2023"
            }
          },
          {
            "name": "qtd_pag",
            "in": "query",
            "required": false,
            "description": "Quantidade de registros por página.",
            "schema": {
              "type": "integer",
              "example": 20
            }
          },
          {
            "name": "pag",
            "in": "query",
            "required": false,
            "description": "Número da página para paginação.",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "ordem",
            "in": "query",
            "required": false,
            "description": "Campo para ordenar os resultados.",
            "schema": {
              "type": "string",
              "example": "nosnum"
            }
          },
          {
            "name": "orientacao",
            "in": "query",
            "required": false,
            "description": "Orientação para ordenação dos registros (ascendente ou descendente).",
            "schema": {
              "type": "string",
              "example": "asc"
            }
          },
          {
            "name": "texto",
            "in": "query",
            "required": false,
            "description": "Texto para busca.",
            "schema": {
              "type": "string",
              "example": "Renovação"
            }
          },
          {
            "name": "cancelado",
            "in": "query",
            "required": false,
            "description": "Filtra renovações canceladas (T - true, F - false).",
            "schema": {
              "type": "string",
              "example": "F"
            }
          },
          {
            "name": "resgates",
            "in": "query",
            "required": false,
            "description": "Filtra renovações com resgates (T - true, F - false).",
            "schema": {
              "type": "string",
              "example": "F"
            }
          },
          {
            "name": "codcli",
            "in": "query",
            "required": true,
            "description": "Código do cliente.",
            "schema": {
              "type": "integer",
              "example": 1988
            }
          },
          {
            "name": "codram",
            "in": "query",
            "required": true,
            "description": "Código do ramo de seguro.",
            "schema": {
              "type": "integer",
              "example": 20
            }
          },
          {
            "name": "codcia",
            "in": "query",
            "required": true,
            "description": "Código da seguradora.",
            "schema": {
              "type": "integer",
              "example": 19
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Renovações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "header": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "description": "Quantidade de renovações encontradas",
                          "example": 1
                        }
                      }
                    },
                    "renovacoes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codfil": {
                            "type": "integer",
                            "description": "Código da filial",
                            "example": 1
                          },
                          "nosnum": {
                            "type": "integer",
                            "description": "Número interno do documento",
                            "example": 296
                          },
                          "tipdoc": {
                            "type": "string",
                            "description": "Tipo de documento",
                            "example": "A"
                          },
                          "codcli": {
                            "type": "integer",
                            "description": "Código do cliente",
                            "example": 80
                          },
                          "datemi": {
                            "type": "string",
                            "format": "date",
                            "nullable": true,
                            "description": "Data de emissão do documento",
                            "example": null
                          },
                          "fimvig": {
                            "type": "string",
                            "description": "Data de fim de vigência",
                            "example": "01/01/2026"
                          },
                          "nosnum_ren": {
                            "type": "integer",
                            "description": "Número do documento renovado",
                            "example": 294
                          },
                          "cancelado": {
                            "type": "string",
                            "description": "Indica se a renovação foi cancelada (T/F)",
                            "example": "F"
                          },
                          "cliente": {
                            "type": "string",
                            "description": "Nome do cliente",
                            "example": "RENOVAÇÕES"
                          },
                          "nome_busca": {
                            "type": "string",
                            "description": "Nome de busca do cliente",
                            "example": "RENOVACOES"
                          },
                          "pessoa": {
                            "type": "string",
                            "description": "Tipo de pessoa (F - Física, J - Jurídica)",
                            "example": "F"
                          },
                          "cic": {
                            "type": "string",
                            "nullable": true,
                            "description": "CPF ou CNPJ do cliente",
                            "example": null
                          },
                          "fone": {
                            "type": "string",
                            "nullable": true,
                            "description": "Telefone do cliente",
                            "example": null
                          },
                          "email": {
                            "type": "string",
                            "nullable": true,
                            "description": "E-mail do cliente",
                            "example": null
                          },
                          "seguradora": {
                            "type": "string",
                            "description": "Nome da seguradora",
                            "example": "ALLI"
                          },
                          "ramo": {
                            "type": "string",
                            "description": "Ramo do seguro",
                            "example": "AUTO"
                          },
                          "numapo": {
                            "type": "string",
                            "description": "Número da apólice",
                            "example": "0"
                          },
                          "pretot": {
                            "type": "number",
                            "format": "float",
                            "description": "Prêmio total",
                            "example": 1000.0
                          },
                          "historico_imagem": {
                            "type": "integer",
                            "description": "Código da imagem associada ao histórico",
                            "example": 11
                          },
                          "historico_hint": {
                            "type": "string",
                            "description": "Texto de dica sobre o histórico",
                            "example": "APÓLICE NÃO NOVA - RENOVAÇÃO DO DOCUMENTO [294]\r APÓLICE VIGENTE\r VIGÊNCIA: 01/01/2025 A 01/01/2026\r "
                          },
                          "renovacao_situacao": {
                            "type": "integer",
                            "description": "Código da situação da renovação",
                            "example": 1
                          },
                          "sin_situacao": {
                            "type": "integer",
                            "description": "Código da situação de sinistro",
                            "example": 0
                          },
                          "situacao_txt": {
                            "type": "string",
                            "description": "Texto da situação do sinistro",
                            "example": "APÓLICE SEM SINISTRO"
                          },
                          "dias_a_vencer": {
                            "type": "integer",
                            "description": "Número de dias para vencer a apólice",
                            "example": 250
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Solicitação inválida"
            },
            "404": {
              "description": "Renovações não encontradas"
            }
          }
        }
      }
    },
    "/documento_anexos": {
      "get": {
        "summary": "Consultar anexos de documento",
        "description": "Retorna os anexos de um documento específico com base no código da filial e no número do documento.",
        "tags": [
          "Documentos/Produção"
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "required": true,
            "description": "Código da filial.",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "nosnum",
            "in": "query",
            "required": true,
            "description": "Número do documento.",
            "schema": {
              "type": "integer",
              "example": 525458
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Anexos encontrados"
          },
          "400": {
            "description": "Solicitação inválida"
          },
          "404": {
            "description": "Anexos não encontrados"
          }
        }
      }
    },
    "/documento_endossos": {
      "get": {
        "summary": "Consultar endossos de documento",
        "description": "Retorna os endossos de um documento específico com base no código da filial e no número do documento.",
        "tags": [
          "Documentos/Produção"
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "required": true,
            "description": "Código da filial.",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "nosnum",
            "in": "query",
            "required": true,
            "description": "Número do documento.",
            "schema": {
              "type": "integer",
              "example": 26397
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endossos encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "header": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "description": "Quantidade de endossos encontrados",
                          "example": 1
                        }
                      }
                    },
                    "endossos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codfil": {
                            "type": "integer",
                            "description": "Código da filial",
                            "example": 1
                          },
                          "nosnum": {
                            "type": "integer",
                            "description": "Número interno do documento",
                            "example": 123
                          },
                          "tipdoc": {
                            "type": "string",
                            "description": "Tipo de documento",
                            "example": "C"
                          },
                          "inivig": {
                            "type": "string",
                            "description": "Data de início de vigência",
                            "example": "26/04/2025"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Solicitação inválida"
          },
          "404": {
            "description": "Endossos não encontrados"
          }
        }
      }
    },
    "/cliente": {
      "get": {
        "summary": "Obter informações de um cliente",
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "description": "Código de filial",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "codigo",
            "in": "query",
            "description": "Código do cliente",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 150
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cliente encontrado",
            "content": {
              "application/json": {
                "example": {
                  "header": {
                    "count": 1
                  },
                  "cliente": [
                    {
                      "codfil": 123,
                      "codigo": 456,
                      "nome": "Cliente Teste",
                      "ativo": "T",
                      "cpf_cnpj": "00000000000000",
                      "datanas": "01/01/1990",
                      "pessoa": "F",
                      "sexo": "M",
                      "email": "cliente@teste.com",
                      "telefone": "(00) 000000000",
                      "cidade": "Cidade Teste",
                      "estado": "TS",
                      "vigente": true,
                      "observacoes": "",
                      "profissao": "Profissão Teste",
                      "cod_profissao": 99,
                      "estado_civil": "SOLTEIRO(A)",
                      "cod_estado_civil": 1,
                      "escolaridade": null,
                      "cod_escolaridade": null,
                      "enderecos": [
                        {
                          "codfil": 123,
                          "codigo": 789,
                          "tipo": "R",
                          "logradouro": "Rua Teste, 123",
                          "numero": "",
                          "complemento": "",
                          "bairro": "Bairro Teste",
                          "cep": 12345678,
                          "padrao": "T",
                          "cidade": "Cidade Teste",
                          "estado": "TS"
                        }
                      ],
                      "emails": [
                        {
                          "codfil": 123,
                          "codigo": 1011,
                          "email": "cliente@teste.com",
                          "padrao": "T",
                          "codcli": 456,
                          "codcon": null,
                          "codemp": null
                        }
                      ],
                      "telefones": [
                        {
                          "codfil": 123,
                          "codigo": 1213,
                          "tipo": "C",
                          "ddd": 0,
                          "numero": "000000000",
                          "ramal": null,
                          "padrao": "T",
                          "codcli": 456,
                          "codcon": null,
                          "codemp": null
                        },
                        {
                          "codfil": 123,
                          "codigo": 1415,
                          "tipo": "E",
                          "ddd": 0,
                          "numero": "000000000",
                          "ramal": null,
                          "padrao": "F",
                          "codcli": 456,
                          "codcon": null,
                          "codemp": null
                        }
                      ],
                      "contatos": [
                        "Contatos do cliente"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Inserir um novo cliente",
        "description": "Inserção de um novo cliente, incluindo dados de endereços, e-mails e telefones.",
        "tags": [
          "Cliente"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "codfil": {
                    "type": "integer",
                    "description": "Código da filial.",
                    "example": 123
                  },
                  "nome": {
                    "type": "string",
                    "description": "Nome do cliente.",
                    "example": "Cliente Teste"
                  },
                  "ativo": {
                    "type": "string",
                    "description": "Indica se o cliente está ativo (T - ativo, F - inativo).",
                    "example": "T"
                  },
                  "cpf_cnpj": {
                    "type": "string",
                    "description": "CPF ou CNPJ do cliente, somente números.",
                    "example": "00000000000"
                  },
                  "datanas": {
                    "type": "string",
                    "description": "Data de nascimento do cliente no formato DD/MM/AAAA.",
                    "example": "01/01/1990"
                  },
                  "pessoa": {
                    "type": "string",
                    "description": "Tipo de pessoa (F - Física, J - Jurídica).",
                    "example": "F"
                  },
                  "sexo": {
                    "type": "string",
                    "description": "Sexo do cliente (M - Masculino, F - Feminino).",
                    "example": "M"
                  },
                  "observacoes": {
                    "type": "string",
                    "description": "Observações gerais sobre o cliente.",
                    "example": "Teste API - Cliente Teste"
                  },
                  "profissao": {
                    "type": "string",
                    "nullable": true,
                    "description": "Profissão do cliente (se aplicável).",
                    "example": "Corretor"
                  },
                  "estado_civil": {
                    "type": "integer",
                    "description": "Código do estado civil",
                    "example": 1
                  },
                  "escolaridade": {
                    "type": "string",
                    "nullable": true,
                    "description": "Grau de escolaridade do cliente (se aplicável).",
                    "example": "Seperior"
                  },
                  "usuinc": {
                    "type": "integer",
                    "description": "Código do usuário que realizou a inclusão.",
                    "example": 999
                  },
                  "enderecos": {
                    "type": "array",
                    "description": "Lista de endereços do cliente.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "tipo": {
                          "type": "string",
                          "description": "Tipo de endereço (R - Residencial, C - Comercial).",
                          "example": "R"
                        },
                        "logradouro": {
                          "type": "string",
                          "description": "Nome da rua ou logradouro.",
                          "example": "Rua Teste, 123"
                        },
                        "numero": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Número do endereço.",
                          "example": 123
                        },
                        "complemento": {
                          "type": "string",
                          "nullable": true,
                          "description": "Complemento do endereço",
                          "example": "Apartamento 101"
                        },
                        "bairro": {
                          "type": "string",
                          "nullable": true,
                          "description": "Bairro do endereço.",
                          "example": "Bairro Teste"
                        },
                        "cep": {
                          "type": "integer",
                          "description": "Código postal (CEP) do endereço.",
                          "example": 12345678
                        },
                        "padrao": {
                          "type": "string",
                          "description": "Se é o endereço padrão (T - sim, F - não).",
                          "example": "T"
                        },
                        "cidade": {
                          "type": "string",
                          "description": "Cidade do endereço.",
                          "example": "Cidade Teste"
                        },
                        "estado": {
                          "type": "string",
                          "description": "Sigla do estado (UF).",
                          "example": "TS"
                        }
                      }
                    }
                  },
                  "emails": {
                    "type": "array",
                    "description": "Lista de e-mails do cliente.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "Endereço de e-mail.",
                          "example": "cliente1@teste.com"
                        },
                        "padrao": {
                          "type": "string",
                          "description": "Indica se é o e-mail principal (T - sim, F - não).",
                          "example": "T"
                        }
                      }
                    }
                  },
                  "telefones": {
                    "type": "array",
                    "description": "Lista de telefones do cliente.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "tipo": {
                          "type": "string",
                          "description": "Tipo de telefone (C - Celular, E - Escritório, etc).",
                          "example": "C"
                        },
                        "ddd": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Código de área (DDD) do telefone.",
                          "example": 11
                        },
                        "numero": {
                          "type": "string",
                          "description": "Número do telefone.",
                          "example": "999999999"
                        },
                        "ramal": {
                          "type": "string",
                          "nullable": true,
                          "description": "Número do ramal (se aplicável).",
                          "example": null
                        },
                        "padrao": {
                          "type": "string",
                          "description": "Indica se é o telefone principal (T - sim, F - não).",
                          "example": "T"
                        },
                        "codcon": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Código do contato associado (se aplicável).",
                          "example": null
                        },
                        "codemp": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Código da empresa associada (se aplicável).",
                          "example": null
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cliente cadastrado com sucesso",
            "content": {
              "application/json": {
                "example": {
                  "codfil": 123,
                  "nome": "Cliente Teste",
                  "ativo": "T",
                  "cpf_cnpj": "00000000000",
                  "datanas": "01/01/1990",
                  "pessoa": "F",
                  "sexo": "M",
                  "observacoes": "Teste API - Cliente Teste",
                  "profissao": null,
                  "estado_civil": 1,
                  "escolaridade": null,
                  "usuinc": 999,
                  "enderecos": [
                    {
                      "tipo": "R",
                      "logradouro": "Rua Teste, 123",
                      "numero": 123,
                      "complemento": "Apartamento 101",
                      "bairro": "Bairro Teste",
                      "cep": 12345678,
                      "padrao": "T",
                      "cidade": "Cidade Teste",
                      "estado": "TS"
                    },
                    {
                      "tipo": "C",
                      "logradouro": "Avenida Teste, 456",
                      "numero": null,
                      "complemento": null,
                      "bairro": "Centro",
                      "cep": 87654321,
                      "padrao": "F",
                      "cidade": "Cidade Exemplo",
                      "estado": "TE"
                    }
                  ],
                  "emails": [
                    {
                      "email": "cliente1@teste.com",
                      "padrao": "T"
                    },
                    {
                      "email": "cliente2@teste.com",
                      "padrao": "F"
                    }
                  ],
                  "telefones": [
                    {
                      "tipo": "C",
                      "ddd": 11,
                      "numero": "999999999",
                      "ramal": null,
                      "padrao": "T",
                      "codcon": null,
                      "codemp": null
                    },
                    {
                      "tipo": "E",
                      "ddd": 11,
                      "numero": "888888888",
                      "ramal": null,
                      "padrao": "F",
                      "codcon": null,
                      "codemp": null
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Excluir um cliente",
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "description": "Código de filial",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "codigo",
            "in": "query",
            "description": "Código do cliente",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 150
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cliente excluído com sucesso"
          }
        }
      }
    },
    "/clientes": {
      "get": {
        "summary": "Obter lista de clientes",
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "datini",
            "in": "query",
            "description": "Data de início",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datfim",
            "in": "query",
            "description": "Data de fim",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "texto",
            "in": "query",
            "description": "Texto de busca",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qtd_pag",
            "in": "query",
            "description": "Quantidade de itens por página",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 20
            }
          },
          {
            "name": "pag",
            "in": "query",
            "description": "Página de resultados",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "ordem",
            "in": "query",
            "description": "Ordenação",
            "required": false,
            "schema": {
              "type": "string",
              "example": "codigo"
            }
          },
          {
            "name": "orientacao",
            "in": "query",
            "description": "Orientação da ordenação",
            "required": false,
            "schema": {
              "type": "string",
              "example": "desc"
            }
          },
          {
            "name": "inativo",
            "in": "query",
            "description": "Incluir clientes inativos",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "vigentes",
            "in": "query",
            "description": "Seleção de clientes vigentes",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "vigentes",
                "nao_vigentes"
              ],
              "example": "all"
            }
          },
          {
            "name": "periodo",
            "in": "query",
            "description": "Período de data",
            "required": false,
            "schema": {
              "type": "string",
              "example": "datinc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de clientes retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "header": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "example": 2
                        }
                      }
                    },
                    "clientes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codfil": {
                            "type": "integer",
                            "example": 1
                          },
                          "codigo": {
                            "type": "integer",
                            "example": 123456
                          },
                          "nome": {
                            "type": "string",
                            "example": "CLIENTE TESTE 1"
                          },
                          "ativo": {
                            "type": "string",
                            "description": "T para ativo, F para inativo",
                            "example": "T"
                          },
                          "cpf_cnpj": {
                            "type": "string",
                            "nullable": true,
                            "example": "12345678901"
                          },
                          "datanas": {
                            "type": "string",
                            "nullable": true,
                            "description": "Data de nascimento no formato dd/MM/yyyy",
                            "example": "01/01/1990"
                          },
                          "pessoa": {
                            "type": "string",
                            "description": "F para pessoa física, J para jurídica",
                            "example": "F"
                          },
                          "sexo": {
                            "type": "string",
                            "nullable": true,
                            "example": "M"
                          },
                          "email": {
                            "type": "string",
                            "nullable": true,
                            "example": "cliente1@teste.com"
                          },
                          "telefone": {
                            "type": "string",
                            "nullable": true,
                            "example": "(11) 91234-5678"
                          },
                          "cidade": {
                            "type": "string",
                            "nullable": true,
                            "example": "São Paulo"
                          },
                          "estado": {
                            "type": "string",
                            "nullable": true,
                            "example": "SP"
                          },
                          "vigente": {
                            "type": "string",
                            "description": "T para vigente, F para não vigente",
                            "example": "T"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "exemplo1": {
                    "value": {
                      "header": {
                        "count": 2
                      },
                      "clientes": [
                        {
                          "codfil": 1,
                          "codigo": 123456,
                          "nome": "CLIENTE TESTE 1",
                          "ativo": "T",
                          "cpf_cnpj": "12345678901",
                          "datanas": "01/01/1990",
                          "pessoa": "F",
                          "sexo": "M",
                          "email": "cliente1@teste.com",
                          "telefone": "(11) 91234-5678",
                          "cidade": "São Paulo",
                          "estado": "SP",
                          "vigente": "T"
                        },
                        {
                          "codfil": 1,
                          "codigo": 654321,
                          "nome": "CLIENTE TESTE 2",
                          "ativo": "F",
                          "cpf_cnpj": "10987654321",
                          "datanas": null,
                          "pessoa": "J",
                          "sexo": "",
                          "email": "empresa@teste.com",
                          "telefone": "(21) 98765-4321",
                          "cidade": "Rio de Janeiro",
                          "estado": "RJ",
                          "vigente": "F"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cliente_cpf": {
      "get": {
        "summary": "Obter cliente por CPF ou CNPJ",
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "description": "Código de filial",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "cpf_cnpj",
            "in": "query",
            "description": "CPF ou CNPJ do cliente",
            "required": true,
            "schema": {
              "type": "string",
              "example": "04030167039"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cliente retornado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cliente": {
                      "type": "object",
                      "properties": {
                        "codfil": {
                          "type": "integer",
                          "example": 1
                        },
                        "codigo": {
                          "type": "integer",
                          "example": 123456
                        },
                        "nome": {
                          "type": "string",
                          "example": "CLIENTE TESTE"
                        },
                        "cpf_cnpj": {
                          "type": "string",
                          "example": "00000000000"
                        },
                        "datanas": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "sexo": {
                          "type": "string",
                          "example": ""
                        },
                        "cod_estado_civil": {
                          "type": "integer",
                          "nullable": true,
                          "example": null
                        },
                        "estado_civil": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "emails": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          },
                          "example": []
                        },
                        "telefones": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          },
                          "example": []
                        },
                        "enderecos": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "codfil": {
                                "type": "integer",
                                "example": 1
                              },
                              "codigo": {
                                "type": "integer",
                                "example": 654321
                              },
                              "tipo": {
                                "type": "string",
                                "example": "R"
                              },
                              "logradouro": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "numero": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "complemento": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "bairro": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "cep": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "cidade": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "estado": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "padrao": {
                                "type": "string",
                                "example": "T"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "clienteExemplo": {
                    "value": {
                      "cliente": {
                        "codfil": 1,
                        "codigo": 123456,
                        "nome": "CLIENTE TESTE",
                        "cpf_cnpj": "00000000000",
                        "datanas": null,
                        "sexo": "",
                        "cod_estado_civil": null,
                        "estado_civil": null,
                        "emails": [],
                        "telefones": [],
                        "enderecos": [
                          {
                            "codfil": 1,
                            "codigo": 654321,
                            "tipo": "R",
                            "logradouro": null,
                            "numero": null,
                            "complemento": null,
                            "bairro": null,
                            "cep": null,
                            "cidade": null,
                            "estado": null,
                            "padrao": "T"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cliente_anexos": {
      "get": {
        "summary": "Obter anexos de um cliente",
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "codfil",
            "in": "query",
            "description": "Código de filial",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "codigo",
            "in": "query",
            "description": "Código do cliente",
            "required": true,
            "schema": {
              "type": "string",
              "example": "3680x"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Anexos do cliente encontrados"
          }
        }
      }
    },
    "/lista_clientes": {
      "get": {
        "summary": "Obter lista de clientes com filtro por nome",
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "texto",
            "in": "query",
            "description": "Nome do cliente",
            "required": true,
            "schema": {
              "type": "string",
              "example": "leonardo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de clientes retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "header": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "example": 78
                        }
                      }
                    },
                    "clientes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codigo": {
                            "type": "integer",
                            "example": 123456
                          },
                          "nome": {
                            "type": "string",
                            "example": "CLIENTE TESTE 1"
                          },
                          "ddd": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "numero": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "clientesExemplo": {
                    "value": {
                      "header": {
                        "count": 78
                      },
                      "clientes": [
                        {
                          "codigo": 123456,
                          "nome": "CLIENTE TESTE 1",
                          "ddd": null,
                          "numero": null
                        },
                        {
                          "codigo": 654321,
                          "nome": "CLIENTE TESTE 2",
                          "ddd": null,
                          "numero": null
                        },
                        {
                          "codigo": 789012,
                          "nome": "CLIENTE TESTE 3",
                          "ddd": null,
                          "numero": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/busca_cpf": {
      "get": {
        "summary": "Buscar cliente por CPF",
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "cpf_cnpj",
            "in": "query",
            "description": "CPF ou CNPJ do cliente",
            "required": true,
            "schema": {
              "type": "string",
              "example": "04030167039"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cliente retornado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cliente": {
                      "type": "object",
                      "properties": {
                        "codfil": {
                          "type": "integer",
                          "example": 1
                        },
                        "codigo": {
                          "type": "integer",
                          "example": 123456
                        },
                        "nome": {
                          "type": "string",
                          "example": "CLIENTE TESTE"
                        },
                        "cpf_cnpj": {
                          "type": "string",
                          "example": "00000000000"
                        },
                        "datanas": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "sexo": {
                          "type": "string",
                          "example": ""
                        },
                        "cod_estado_civil": {
                          "type": "integer",
                          "nullable": true,
                          "example": null
                        },
                        "estado_civil": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "emails": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          },
                          "example": []
                        },
                        "telefones": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          },
                          "example": []
                        },
                        "enderecos": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "codfil": {
                                "type": "integer",
                                "example": 1
                              },
                              "codigo": {
                                "type": "integer",
                                "example": 654321
                              },
                              "tipo": {
                                "type": "string",
                                "example": "R"
                              },
                              "logradouro": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "numero": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "complemento": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "bairro": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "cep": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "cidade": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "estado": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "padrao": {
                                "type": "string",
                                "example": "T"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "clienteExemplo": {
                    "value": {
                      "cliente": {
                        "codfil": 1,
                        "codigo": 123456,
                        "nome": "CLIENTE TESTE",
                        "cpf_cnpj": "00000000000",
                        "datanas": null,
                        "sexo": "",
                        "cod_estado_civil": null,
                        "estado_civil": null,
                        "emails": [],
                        "telefones": [],
                        "enderecos": [
                          {
                            "codfil": 1,
                            "codigo": 654321,
                            "tipo": "R",
                            "logradouro": null,
                            "numero": null,
                            "complemento": null,
                            "bairro": null,
                            "cep": null,
                            "cidade": null,
                            "estado": null,
                            "padrao": "T"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Corpo da requisição inválido."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/endereco": {
      "post": {
        "summary": "Criar um novo endereço",
        "tags": [
          "Endereço"
        ],
        "description": "Cria um novo endereço para um cliente.",
        "operationId": "criarEndereco",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "codcli": {
                    "type": "integer",
                    "example": 123
                  },
                  "logradouro": {
                    "type": "string",
                    "example": ""
                  },
                  "numero": {
                    "type": "integer",
                    "example": 123
                  },
                  "complemento": {
                    "type": "string",
                    "example": ""
                  },
                  "bairro": {
                    "type": "string",
                    "example": ""
                  },
                  "cep": {
                    "type": "string",
                    "example": ""
                  },
                  "cidade": {
                    "type": "string",
                    "example": ""
                  },
                  "estado": {
                    "type": "string",
                    "example": ""
                  },
                  "tipo": {
                    "type": "string",
                    "example": ""
                  },
                  "padrao": {
                    "type": "string",
                    "example": "T"
                  }
                }
              }
[...]
